/*
 * This file is included once, for the entire sute.
 * It's useful for CSS vars
 */

// CSS vars
:root {
    --color-white: #fff;
    --color-black: #000000;
    --color-blue: #144677;

    --color-lightergray: #e9e9e9;
    --color-lightgray: #fafafa;
    --color-darkgray: #f1f1f1;
    --color-darknavy: #20303f;

    --color-navy: #144677;
    --color-lightblue: #9fcee0;
    --color-skyblue: #eff9fd;
    --color-orange: #fc5752;
    --color-green: #19982b;

    --unit-100vh: 100vh;
    --unit-gap: 80px;
    --unit-max-width: 1680px;

    --font-primary: "Cambon-Regular", serif;
    --font-primary-italic: "Cambon-Italic", serif;

    --font-secondary: "Mabry-Regular", sans-serif;
    --font-secondary-italic: "Mabry-Italic", sans-serif;

    --easing-authentic-motion: cubic-bezier(0.4, 0, 0.2, 1);
}

// Breakpoints
@media #{$gt-cinema} {
    :root {
        --unit-gap: 100px;
    }
}

@media #{$lt-tablet} {
    :root {
        --unit-gap: 40px;
    }
}

@media #{$lt-phone} {
    :root {
        --unit-gap: 20px;
    }
}
